.ellipseContainer {
  position: absolute;
  left: 0;
  top: 0;
  background: white;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius, 12px);
  overflow: hidden;
  opacity: 1;
  z-index: -1;
  pointer-events: none;
  will-change: transform, opacity, visibility;
  transition:
    opacity 1200ms ease-in,
    visibility 1200ms ease-in,
    transform 1200ms ease-in;
}

.ellipse1,
.ellipse2,
.ellipse3 {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 200%;
  height: 200%;
  transform: translate(-50%, -50%);
  opacity: 1;
  will-change: transform;
  transition:
    transform 500ms ease,
    opacity 500ms ease;
}

.ellipse1 {
  background: radial-gradient(#f25100, #f2510000 70%);
}

.ellipse2 {
  background: radial-gradient(rgb(94, 199, 210), rgba(94, 199, 210, 0) 70%);
}

.ellipse3 {
  background: radial-gradient(#8058d1, #8058d100 70%);
}

.isHidden {
  opacity: 0;
  transform: scale(4);
  visibility: hidden;
}
