@value neutral-600 from '@/styles/vars.css';

.labelSmall {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
}

.labelSmallSubdued {
  composes: labelSmall;
  color: neutral-600;
}

.labelSmallSubduedEmphasized {
  composes: labelSmall;
  color: neutral-600;
}

.labelSmallEmphasized {
  composes: labelSmall;
  font-weight: 600;
  letter-spacing: -0.024px;
}

.labelMedium {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.15px;
}

.labelMediumEmphasized {
  composes: labelMedium;
  font-weight: 600;
}

.labelMediumSubdued {
  composes: labelMedium;
  color: neutral-600;
}

.labelMediumSubduedEmphasized {
  composes: labelMedium;
  font-weight: 600;
  color: neutral-600;
}

.labelLarge {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 140% */
  letter-spacing: 0.3px;
}

.labelLargeEmphasized {
  font-size: 16px;
  font-weight: 600;
}

.labelLargeEmphasized svg {
  width: 16px;
  height: 16px;
}

.headingSmall {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  letter-spacing: -0.31px;
}

.headingSmallSubdued {
  composes: headingSmall;
  font-weight: 400;
}

.headingXSmall {
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 166.667% */
}

.headingMedium {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 140% */
  letter-spacing: 0.3px;
}

.headingMediumSubdued {
  composes: headingMedium;
  font-weight: 400;
}

.subdued {
  color: neutral-600;
}
