@value purple-500, neutral-600 from '../../styles/vars.css';

.dashboardRoot {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.dashboardTopNav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin-bottom: 1em;
}

.toolbarContainer {
  gap: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.iconWrapper {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 0.2s ease;
}

.iconWrapper:hover {
  cursor: pointer;
  background-color: var(--button-hover-background);
}

.iconWrapper svg path {
  fill: var(--default-icon);
}

.addCircle svg:last-child path {
  fill: purple-500;
}

.actionRow {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}

.dashboardBody {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  width: 100%;
  flex: 1;
  max-width: 1280px;
  margin: 0 auto;
}

.dashboardContent {
  max-height: calc(100vh - 52px);
  overflow: visible;

  &::-webkit-scrollbar {
    display: none;
  }

  &::-webkit-scrollbar-track {
    display: none;
  }

  /* view-transition-name: dashboard; */
}

/* 
@media screen and (max-width: 1600px) {
  .dashboardBody {
    padding: 1rem 4rem;
  }
}

@media screen and (max-width: 1400px) {
  .dashboardBody {
    padding: 1rem 2.8rem;
  }
}

@media screen and (max-width: 768px) {
  .dashboardBody {
    padding: 1rem;
  }
} */
