.icon {
  position: relative;
  color: var(--globeGraphicColor);
  display: grid;
  align-items: flex-start;
  justify-content: center;
  margin-left: 4px;
}

.icon svg {
  display: block;
  grid-column: 1;
  grid-row: 1;
}

.ellipseCanvas {
  width: 80px;
  height: 80px;
  grid-column: 1;
  grid-row: 1;
}

.webRingsGlobe {
  width: 100%;
}
